@charset "utf-8";

/*------------------------------------------------------------------
 

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
  2.Common Styling
  3. Header / .header
    3.1 Logo  
    3.2 Navigation / .navbar
    3.3 Search bar
  4. Main
    4.1. banner section / .banner
    4.2. explore section / .explore
    4.3. news and updates section / .news-updates
    4.4. darker side section / .darker-side-section
    4.4. getting together in EU section / .getting-together-section
    4.4. meet new furtado section / .furtado-section
    4.4. juliana team riders section / .Juliana-team-section
    4.4. shop huliana section / .shop-juliana
    4.4. share ride section / .share-ride
  5. Footer / .footer
  6. Responsive
    6.1 remove all hovers
  ------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/* ==========================================================================
   2.Common Styling
   ========================================================================== */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container { width: 100%; }
.hideExtra { overflow: hidden; }

.wrapper {
  max-width: 1500px;
  width: 74.2%;
  margin: 0 auto;
}

body { font-family: Arial; }
ul li { list-style: none; }
img { width: 100%; }
.uppercase { text-transform: uppercase; }
.capitalize { text-transform: capitalize; }
.small { text-transform: lowercase; }
.first-letter:first-letter { text-transform: capitalize; }
.block { display: block; }
.centre { text-align: center; }

.for-screen-readers { 
  width: 0;
  height: 0;
  display: inline-block;
  text-indent: -9999px; 
  overflow: hidden;
}

a { 
  display: inline-block;
  text-decoration: none;
  color: inherit;
  -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
       -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
}

.hamburger,
.close-menu { display: none; }

/* ==========================================================================
3.Header
========================================================================== */

header {
  width: 100%;
  margin: 0 auto;
}

.header-top {
  width: 100%;
  padding-top: .5px;
  margin: 0 auto;
  background-color: #181818;
  text-align: right;
}

.header-main {
  width: 100%;
  position: absolute;
  background-color: rgba(255,255,255,.9);
}

/* 3.1 Logo */

h1 { float: left; }

/* 3.2 Navigation */

nav {
  position: absolute;
  left: 50%;
  transform: translateX(-38%);
}

nav li { display: inline-block; }
nav li:not(:last-child) { margin-right: 40px; }

nav a {
  padding: 31.5px 0;
  font: 900 10px 'sans-serif';
  letter-spacing: .5px;
}

nav a:hover,
.cart-search a:hover { color: #d29f2b; }
.cart-search a:first-child { font-size: 20px; }

header form {
  position: absolute;
  right: 16%;
  bottom: -50%;
  opacity: 0;
  z-index: -1;
  -webkit-transition: .8s ease-out;
     -moz-transition: .8s ease-out;
      -ms-transition: .8s ease-out;
       -o-transition: .8s ease-out;
          transition: .8s ease-out;
}

.search-bar {
  width: 250px;
  height: 50px;
  padding: 8px;
  font-size: 16px;
}

.search-btn {
  width: 40px;
  height: 50px;
  padding: 9px;
  border: 1px solid #000;
  position: absolute;
  top: 0;
  right: -16%;
  background-color: #fff;
  font-size: 16px;
}

.search-btn:focus { outline: none; }

.close-search {
  position: absolute;
  right: 34.4%;
  bottom: -50%;
  background-color: #fff;
  opacity: 0;
  z-index: -1;
}

header form.active,
.close-search.active {
  opacity: 1;
  z-index: 2;
  -webkit-transition: .5s;
     -moz-transition: .5s;
      -ms-transition: .5s;
       -o-transition: .5s;
          transition: .5s;
}

.cart-search .fa-times { 
  padding: 9px 11px;
  font-size: 22px; 
}

header form input:focus { outline: none; }

.cart-search { 
  padding: 26.5px 0;
  float: right; 
}

.cart-search a {
  padding-left: 7px;
  font-size: 18px;
  text-align: right;
}

/* ==========================================================================
4.Main
========================================================================== */

/*banner starts here
============================================================================*/

.banner {
  width: 100%;
  margin: 0 auto;
  background: url('../images/banner-bg.jpg') no-repeat left top;
  background-size: cover;
  text-align: right;
}

.banner .wrapper { width: 100%; }

.banner-overlay {
  width: 50%;
  padding: 18.3% 12.8% 13.9% 0;
  display: inline-block;
  background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,.6));
}

h2 {
  margin-bottom: 16px;
  color: #fff;
  font: 700 30px 'sans-serif';
  text-align: right;
}

.yellow-btn {
  padding: 12px 21px;
  background-color: #d29f2b;
  color: #fff;
  font: bold 12px 'sans-serif';
  letter-spacing: -.65px;
}

.yellow-btn:hover { background-color: #000; }
.banner-overlay .yellow-btn:nth-child(2) { margin-right: 9px; }

/*banner ends here
============================================================================*/

/*explore section starts here
============================================================================*/

.explore {
  width: 100%;
  padding: 7.35% 0 5.3%;
  margin: 0 auto;
}

h3 {
  font: 700 24px 'sans-serif';
  letter-spacing: -1px;
}

.explore-mod {
  width: 100%;
  margin-top: 40px;
  position: relative;
}

.explore-mod-img {
  width: 66.2%;
  margin-top: 20px;
  display: inline-block;
  vertical-align: top;
}

.arrow-up {
  position: absolute;
  z-index: 3;
  top: 12px;
  right: 30%;
  opacity: .8;
}

.arrow-down {
  position: absolute;
  z-index: 3;
  top: 25px;
  right: 30%;
  opacity: .8;
}

.arrow-down:hover {
  color: #d29f2b;
  -webkit-transform: translateY(5px);
     -moz-transform: translateY(5px);
      -ms-transform: translateY(5px);
       -o-transform: translateY(5px);
          transform: translateY(5px);
}

.arrow-up:hover {
  color: #d29f2b;
  -webkit-transform: translateY(-5px);
     -moz-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
       -o-transform: translateY(-5px);
          transform: translateY(-5px);
}

.explore-mod article {
  width: 33.8%;
  padding-left: 47px;
  margin: 8px 0 0 -5px;
  display: inline-block;
  position: relative;
  vertical-align: top;
}

.explore-mod h4 { font: 900 19px 'sans-serif'; }

.article-sub-head {
  display: block;
  margin: 7px 0 15px;
  color: #323232;
  font-size: 15px;
  line-height: 1.3;
}

.white-btn {
  padding: 11px 21px;
  border: 1px solid #000;
  color: #000;
  font: bold 12px 'sans-serif';
  letter-spacing: -.5px;
}

.white-btn:hover {
  border: 1px solid #d29f2b;
  background-color: #d29f2b;
  color: #fff;
}

.explore-mod .white-btn { margin-left: 10px; }
.explore-mod .white-btn,
.explore-mod .yellow-btn { margin-bottom: 12px; }
.explore-mod li:first-child { display: none; }

.more-article {
  margin: 10px 0 12px;
  display: block;
  color: #d4d4d4;
  font: 900 12px 'sans-serif';
}

.new-tag {
  padding: 4px 5px;
  margin-left: 8px;
  background-color: #d29f2b;
  color: #fff;
  font: 400 8px 'sans-serif';
  text-transform: uppercase;
}

.more-article:hover {
  color: #000;
  -webkit-transform: translateX(8px);
     -moz-transform: translateX(8px);
      -ms-transform: translateX(8px);
       -o-transform: translateX(8px);
          transform: translateX(8px);
}

/*explore section ends here
============================================================================*/

/*news and updates section starts here
============================================================================*/

.news-updates {
  width: 100%;
  padding: 7% 0 7.15%;
  margin: 0 auto;
  background-color: #f8f8f8;
}

.news-updates h3 { margin: 5px 0 35px; }

.custom-slider {
  width: 100%;
  margin: 0 auto;
}

.news-updates-mod {
  width: 100%;
  margin: 0 auto;
}

.news-updates-mod-left {
  width: 65.8%;
  padding-left: 1px;
  margin-right: 2%;
  display: inline-block;
  vertical-align: top;
}

.news-updates-mod-right {
  width: 31.7%;
  display: inline-block;
  vertical-align: top;
}

.news-updates-mod-right .img-wrap {
  max-height: 168px;
  overflow: hidden;
}

.news-updates-mod figcaption { padding: 8px 0 23px; }
.news-updates-mod-right figure h4 { margin-top: 3px; }

.news-updates-mod figcaption h4 {
  margin-top: 6px;
  font: 900 13px 'sans-serif';
  letter-spacing: -.5px;
}

.news-updates-mod figcaption span {
  color: #989898;
  font: 400 8px 'sans-serif';
}

.news-read {
  padding: 5px 0;
  margin: 3px 0 0 12px;
  font: 900 10px 'sans-serif';
  position: relative;
}

.news-read:before {
  content: '-';
  display: inline-block;
  position: absolute;
  left: -10px;
  color: #d29f2b;
}

.news-read:hover {
  color: #d29f2b;
  -webkit-transform: translateX(5px);
     -moz-transform: translateX(5px);
      -ms-transform: translateX(5px);
       -o-transform: translateX(5px);
          transform: translateX(5px);
}

.flexslider {
  background: #f8f8f8;
  border: 0px solid #f8f8f8;
}

.flex-control-nav { display: none; }

/*news and updates section ends here
============================================================================*/

/*darker side section starts here
============================================================================*/

.darker-side-section {
  width: 100%;
  margin: 0 auto;
  background: url(../images/mountains.jpg) no-repeat center/100% 100%;
  background-size: cover;
  color: #fff;
}

.darker-side-section .wrapper { width: 100%; }

.darker-side-section .darker-side-overlay {
  width: 50%;
  padding: 7.3% 9% 7.8% 10%;
  display: inline-block;
  background: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,.55));
}

.detail {
  margin: 16px 0;
  color: #dde0e1;
  font-size: 13px;
  line-height: 1.5;
}

.darker-side-section .yellow-btn,
.darker-side-section .white-btn { margin: 50px 13px 0 0; }
.darker-side-section .white-btn:hover { border: 1px solid #d29f2b; }

.darker-side-section .white-btn {
  border: 1px solid #fff;
  color: #fff;
}

/*darker side section ends here
============================================================================*/

/*getting together in EU section, furtado-section, Juliana-team-section starts here
============================================================================*/

.getting-together-section,
.furtado-section,
.Juliana-team-section {
  width: 100%;
  margin: 0 auto;
  background-color: #f1efd9;
}


.getting-together-section .wrapper,
.furtado-section .wrapper,
.Juliana-team-section .wrapper {
  width: 100%;
  max-width: 1500px;
}

.getting-together-section-detail,
.furtado-section-img,
.Juliana-team-section-detail {
  width: 50%;
  float: left;
}

.getting-together-section-img,
.furtado-section-detail,
.Juliana-team-section-img {
  width: 50%;
  float: right;
}

.Juliana-team-section-img {
  max-height: 446px;
  overflow: hidden;
}

.furtado-section-img img,
.getting-together-section-img img {
  width: 100%;
  min-height: 446px;
  max-height: 446px;
}

.Juliana-team-section-img img { 
  -webkit-transform: translateY(-14%); 
     -moz-transform: translateY(-14%); 
      -ms-transform: translateY(-14%); 
       -o-transform: translateY(-14%); 
          transform: translateY(-14%); 
}

.common-half-section { padding: 8.4% 10% 0; }
.common-half-section .yellow-btn,
.common-half-section .white-btn { margin: 17px 13px 0 0; }

.common-half-section .detail {
  color: #222;
  font-size: 14px;
  line-height: 1.4;
}

.Juliana-team-section-detail,
.furtado-section-detail { padding: 9.7% 10% 0; }

/*getting together in EU section, furtado-section, Juliana-team-section ends here
============================================================================*/

/*shop juliana section starts here
============================================================================*/

.shop-juliana {
  width: 100%;
  margin: 0 auto;
  background: url('../images/shop.jpg') no-repeat center;
  background-size: cover;
  text-align: right;
}

.shop-juliana .wrapper { width: 100%; }

.shop-juliana-mod {
  width: 45%;
  padding: 8.5% 8% 9% 5%;
  background: -webkit-linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,.7));
  background: -moz-linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,.7));
  background: -ms-linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,.7));
  background: -o-linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,.7));
  background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,.7));
  color: #fff;
  text-align: left;
}

.juliana-forever {
  margin: 32px 0 36px;
  display: block;
  color: #dde0e1;
  font-size: 14px;
}

/*shop juliana section ends here
============================================================================*/

/*share ride section starts here
============================================================================*/

.share-ride {
  width: 100%;
  padding: 7% 0;
  margin: 0 auto;
  position: relative;
}

.share-ride h4 {
  margin: 13px 0 18px;
  color: #383838;
}

.insta-shares {
  width: 100%;
  margin: 0 auto;
}

.share-ride-column:not(:last-child) {
  width: 24.1%;
  margin: 0 1% 1% 0;
  float: left;
}

.share-ride-column:last-child {
  width: 24.1%;
  margin: 0 0 1% 0;
  float: left;
}

.share-ride-column li {
  margin-bottom: 10px;
  position: relative;
}

.insta-shares-overlay {
  padding: 20px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
  color: #ddd;
  line-height: 1.5;
  text-align: center;
  opacity: 0;
  -webkit-transition: .5s ease-out;
     -moz-transition: .5s ease-out;
      -ms-transition: .5s ease-out;
       -o-transition: .5s ease-out;
          transition: .5s ease-out;
}

.share-ride-column li:hover .insta-shares-overlay { opacity: 1; }
.slide-show { position: relative; }

.share-ride-follow {
  position: absolute;
  top: 13%;
  right: 13.4%;
}

.slide-show:after {
  content: '\f24d';
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  font-size: 12px;
  font-family: Font Awesome\ 5 Free;
  font-weight: 900;
  -webkit-transform: scaleX(-1);
     -moz-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
       -o-transform: scaleX(-1);
          transform: scaleX(-1);
}

/*share ride section ends here
============================================================================*/

/* ==========================================================================
5.Footer
========================================================================== */

.footer-main {
  width: 100%;
  padding: 6% 0;
  margin: 0 auto;
  background-color: #1f1f1f;
  color: #fff;
}

.footer-main-row {
  width: 25%;
  float: left;
}

.footer-main-row h4 {
  margin-bottom: 15px;
  font: 900 14px 'sans-serif';
  letter-spacing: .5px;
}

.footer-main-row a {
  padding-top: 10px;
  color: #848484;
  font: 400 10px 'sans-serif';
}

.footer-main-row a:hover { color: #fff; }
footer h6 { float: left; }

.footer-mod {
  width: 100%;
  background-color: #000;
  color: #fff;
  text-align: right;
}

.social-links {
  padding: 24px 22px 27px;
  display: inline-block;
  vertical-align: middle;
}

.social-links li { display: inline-block; }
.social-links a { padding: 6px; }
.social-links a:hover { color: #d29f2b; }
.country-select select:focus { outline: none; }

.country-select {
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
}

.country-select select,
.country-select option {
  width: 145px;
  height: 38px;
  padding: 8px 10px 8px 35px;
  background: url('../images/usa.png') 6% 50% / 17% no-repeat,
  url('../images/arrow-down.png') 95% 50% / 10% no-repeat;
  -webkit-appearance:none;
     -moz-appearance:none;
      -ms-appearance:none;
       -o-appearance:none;
          appearance:none;
}

/*responsive design
===========================================================================================*/

@media only screen and (max-width: 1186px) {
  .news-updates-mod-left { width: 62%; }
  .news-updates-mod-right { width: 35%; }
  .close-search { right: 400px; }
}

@media only screen and (max-width: 968px) {
  /*remove all hovers*/

  nav a:hover,
  .cart-search a:hover { color: #000; }
  .yellow-btn:hover { background-color: #d29f2b; }

  .arrow-down:hover {
    color: #000;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
        -ms-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }

  .arrow-up:hover {
    color: #000;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
        -ms-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }

  .white-btn:hover {
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
  }

  .more-article:hover {
    color: #d4d4d4;
    -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
        -ms-transform: translateX(0);
         -o-transform: translateX(0);
            transform: translateX(0);
  }

  .news-read:hover {
    color: #000;
    -webkit-transform: translateX(5px);
       -moz-transform: translateX(5px);
        -ms-transform: translateX(5px);
         -o-transform: translateX(5px);
            transform: translateX(5px);
  }

  .darker-side-section .white-btn:hover { border: 1px solid #fff; }  /******/
  .share-ride-column li:hover .insta-shares-overlay { opacity: 0; }
  .footer-main-row a:hover { color: #848484; }
  .social-links a:hover { color: #fff; }

  /*hovers removed*/

  .flex-direction-nav a { opacity: 1; }
  .flexslider:hover .flex-direction-nav .flex-prev { left: -60px; }
  .flexslider:hover .flex-direction-nav .flex-next { right: -60px; }

  .hamburger {
    display: block;
    font-size: 40px;
    float: right;
    position: relative;
    z-index: 1;
    top: 15px;
  }

  nav {
    height: 0;
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(0);
  }

  .cart-search { display: none; }

  .collapse { 
    height: 0; 
    opacity: 0;
    -webkit-transition: .5s;
       -moz-transition: .5s;
        -ms-transition: .5s;
         -o-transition: .5s;
            transition: .5s;
  }


  .noncollapse { 
    height: auto; 
    opacity: 1;
    -webkit-transition: .5s;
       -moz-transition: .5s;
        -ms-transition: .5s;
         -o-transition: .5s;
            transition: .5s;
  }

  .overlay {
    width: 100%;
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-y: hidden;
  }

  nav li {
    display: block;
    text-align: center;
  }

  nav a { 
    width: 100%; 
    font-size: 20px;
  }

  .close-menu {
    width: 10%;
    padding: 20px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 30px;
    color: #000;
    font-size: 30px;
  }

  nav ul { padding: 70px 0; }

  .white-btn,
  .yellow-btn {
    width: 50%;
    margin: 12px 0;
    text-align: center;
  }

  .explore-mod .white-btn,
  .explore-mod .yellow-btn { 
    width: 110px;
    margin: 12px 0; 
  }

  .darker-side-section .darker-side-overlay { width: 90%; }
  .darker-side-section .yellow-btn, .darker-side-section .white-btn { margin: 10px 13px 0 0; }
  .banner-overlay { width: 80%; }  
  .wrapper { width: 85%; }
  .common-half-section,
  .Juliana-team-section-detail, 
  .furtado-section-detail { padding: 4% 3% 0; }
  .Juliana-team-section-img { max-height: 350px; }

  .Juliana-team-section-img img {
    -webkit-transform: translateY(0); 
       -moz-transform: translateY(0);
        -ms-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0); 
  }
  
  .furtado-section-img img, .getting-together-section-img img {
    width: 100%;
    min-height: 350px;
    max-height: 350px;
  }

  .shop-juliana-mod { 
    width: 100%; 
    margin: 0 auto;
  }

  .shop-juliana-mod {  background-color: rgba(0,0,0,0.5); }

  .share-ride-follow {
    width: 30%;
    top: 8%;
    right: 8%
  }

}

@media only screen and (max-width: 768px) {

  header { 
    position: fixed;
    z-index: 3;
  }

  .yellow-btn { 
    width: 45%; 
    padding: 16px 21px;
  }

  .white-btn {
    width: 45%;
    padding: 14px 19px;
  }

  .header-top { display: none; }

  h2 { 
    font-size: 40px;
    text-align: left;
  }

  .banner { background: url(../images/banner-bg.jpg) no-repeat 15%; }

  .banner-overlay {
    width: 100%;
    padding: 60% 9% 40%;
    background: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,.6));
  }

  .explore-mod-img {
    width: 100%; 
    margin-top: 30px;
  }

  .arrow-up,
  .arrow-down { display: none; }

  .explore-mod article {
    width: 100%;
    padding-left: 0;
    margin: 8px 0 0 0;
    position: static;
  }

  .explore-mod { position: relative; }

  .explore-mod-filter {
    position: absolute;
    top: 0;
  }

  .explore-mod-filter li { display: inline-block; }
  .more-article { color: #000; }
  .explore-mod-filter li:first-child a { color: #d4d4d4; }

  .explore-mod-filter li a {
    padding-right: 10px;
    border-right: 1px solid #000;
    margin-right: 10px;
    font: 900 14px 'sans-serif';
  }

  .explore-mod-filter li:first-child a:after {
    content: '';
    width: 52px;
    height: 4px;
    margin-top: 4px;
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #d29f2b;
  }

  .new-tag { display: none; }
  .explore-mod li:first-child { display: inline-block; }
  .explore-mod .yellow-btn { margin-right: 12px; }
  .news-updates-mod-left { width: 100%; }
  .flex-direction-nav .flex-next,
  .flex-direction-nav .flex-prev { display: none; }
  .news-updates-mod figcaption h4 { font-size: 14px; }
  .news-read { font-size: 12px; }
  .news-updates-mod-right { width: 100%; }
  .news-updates-mod-right figure { margin-bottom: 30px; }

  .news-updates-mod-right .img-wrap { 
    width: 50%; 
    float: left;
  }

  .news-updates-mod-right figcaption {
    width: 50%;
    padding: 8px 15px;
    float: left;
  }

  .darker-side-section .darker-side-overlay { 
    width: 100%; 
    padding: 65.3% 9% 7.8% 10%;
    background: linear-gradient(to bottom, rgba(0,0,0,0), #1f1f1f);
  }

  .getting-together-section-img, 
  .furtado-section-detail, 
  .Juliana-team-section-img {
    width: 100%;
    float: none;
  }

  .getting-together-section-detail, 
  .furtado-section-img, 
  .Juliana-team-section-detail {
    width: 100%;
    float: none;
  }

  .common-half-section, 
  .Juliana-team-section-detail, 
  .furtado-section-detail {  padding: 6%;  }
  .common-half-section .white-btn { margin: 17px 0 0 0; }
  .detail { font-size: 16px; }

  .shop-juliana-mod {
    width: 100%;
    padding: 10%;
    margin: 60% 0 0;
    background: #1f1f1f;
  }
  
  .share-ride-follow { 
    width: 250px; 
    margin: 0 0 12px;
  }

  .share-ride-column:not(:last-child),
  .share-ride-column:last-child {
    width: 100%;
    margin: 0; 
    float: none;
  }

  .footer-main-row {
    width: 50%;
    margin-bottom: 40px;
    float: none;
    display: inline-block;
    vertical-align: top;
  }

  .footer-main-row:nth-child(2n) { margin-left: -5px; }
  .footer-main .wrapper > ul { padding: 50px 0; }
  footer h6 { display: none; }

  .social-links {
    padding: 20px  0;
    display: block;
    text-align: center;
  }
  
  .social-links li {
    width: 50px;
    height: 50px;
    vertical-align: top;
    padding: 5%;
  }

  .country-select {
    width: 100%;
    margin: 0 0 20px;
    display: block;
  }

  .country-select select,
  .country-select option {
    padding: 0 10px 0 25%;
    width: 100%;
    height: 50px;
  }

  .footer-main-row a { font-size: 14px; }
}